body {

	.section {

		&__intro {
			background-position: center top;
			background-repeat: no-repeat;
			background-size: inherit;
			position: relative;

			@include media-breakpoint-down(lg) {
				background-position-y: -320px !important;
				padding-bottom: 200px !important;
				padding-top: 60px !important;
			}

			@include media-breakpoint-down(sm) {
				background-position: 70px -50px !important;
				
				.col-sm-6 {
					flex: 0 0 auto;
					width: 25%;

					& + .col-sm-6 {
						width: 75%;
					}
				}
			}
		}
	}

	.wp-block-dp-column {

		@include media-breakpoint-down(sm) {
			padding: 0;
		}
	}

	.swiper-wrapper,
	.swiper-slider {
		width: auto !important;
		padding-bottom: 50px;
	}
}