body {

	.section {

		&__about-us {
			background-position: center top;
			background-repeat: no-repeat;
			background-size: 100% auto;
			position: relative;

			h2 {
				
				&::after {
					border-color: $grey-light;
				}
			}
			
			em {
				color: $grey-light;
			}

			@include media-breakpoint-down(lg) {
			}

			@include media-breakpoint-down(sm) {
			}
		}

		&__gallery {

			.photo-gallery {
				
				&-wrapper {
					grid-row-gap: 15px;
					--bs-gutter-x: 15px;

					img {
						border-radius: 14px;
						min-height: 220px !important;
						max-height: 220px!important;
					}
				}
			}
		}

		&__partners {

			.wp-block-image img {
				border-radius: 14px;
			}
		}
	}

	.wp-block-dp-column {

		@include media-breakpoint-down(sm) {
			padding: 0;
		}
	}

	.swiper-wrapper,
	.swiper-slider {
		width: auto !important;
		padding-bottom: 50px;
	}
}